on:
  push:
    branches: [main]
  pull_request:
name: Miri
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "NIGHTLY=nightly-$(curl -s https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri)" >> $GITHUB_ENV
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ env.NIGHTLY }}
          override: true
          components: miri
      - uses: actions/checkout@v2
      - name: cargo miri test
        uses: actions-rs/cargo@v1
        with:
          command: miri
          args: test
        env:
          # ignore leaks due to https://github.com/rust-lang/miri/issues/1371
          # no isolation since we use time in there
          MIRIFLAGS: "-Zmiri-tag-raw-pointers -Zmiri-disable-isolation -Zmiri-ignore-leaks"
